{% extends 'core/base.html' %}
{% load static %}

<!-- ***** Main Banner Area Start ***** -->
{%block content%}
 <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'assets/videos/course-video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>At Our Institute the Focus is on </h6>
            <h2><em>Fluency</em> Mastering</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-pencil"></i>All Courses</h4>
            </div>
            <div class="content-hide">
              <p>Join our comprehensive French language courses designed to elevate your skills from beginner to advanced levels. Tailored for all learners, we also specialize in structured exam preparation for DELF, DALF, and TEF Canada.</p>
              <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
            </div>
            <div class="content-hide">
              <p>Learn French from the comfort of your home with our interactive virtual classes! Designed for students of all levels, our sessions combine live lessons, engaging exercises, and personalized feedback to help you master French quickly and confidently. Whether you're preparing for exams or enhancing your skills, our virtual class is your gateway to fluency.</p>
              <div class="scroll-to-section"><a href="#section3">Details</a></div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-book"></i>Personalized</h4>
            </div>
            <div class="content-hide">
              <p>Every student is unique, and so is our approach! Our virtual classes provide personalized guidance tailored to your learning pace and goals. With one-on-one attention, customized lesson plans, and targeted feedback, you’ll gain the confidence and skills to achieve fluency in French effortlessly.</p>
              <div class="scroll-to-section"><a href="#section4">Read More</a></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Why choose AccentArea?</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div id='tabs'>
          <ul>
            <li><a href='#tabs-1'>Flexible Learning</a></li>
            <li><a href='#tabs-2'>Expert Preparation</a></li>
            <li><a href='#tabs-3'>Personalized Guidance</a></li>
          </ul>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-md-6">
                  <img src="/static/assets/images/flexible_path.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Flexible Learning Paths to Fit Your Schedule and Goals</h4>
                  <p>
                    Select from a variety of courses that cater to your proficiency level, ensuring a tailored learning experience that aligns with your personal objectives
                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-2'>
              <div class="row">
                <div class="col-md-6">
                  <img src="/static/assets/images/goal.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Expert Preparation for Achieving Your Goals in French Proficiency</h4>
                  <p>
                    Our specialized modules for DELF, DALF, and TEF Canada equip you with the skills necessary to excel in your exams and advance your career opportunities.
                  </p> 
                </div>
              </div>
            </article>
            <article id='tabs-3'>
              <div class="row">
                <div class="col-md-6">
                  <img src="/static/assets/images/personalized_guidance.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Personalized Guidance for Lasting Success in Learning French</h4>
                  <p>With AccentArea, you receive continuous support from experienced instructors dedicated to helping you navigate your French language journey effectively.</p>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="continer centerIt">
          <div>
            <h4>Book <em>A Free Demo Session</em>And We will reach out to you</h4>
           
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content">
            <h6>Book A Demo session</h6>
          </div>
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Get it now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

{%include "core/partials/exam_preparation.html"%}


<section class="section video" data-section="section5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="left-content">
            <h4> Meet <em>Joseph Yawovi</em> , our passionate and experienced French tutor!</h4>
            <p>
              <h4><em>🌟 Why Choose Joseph?</em> </h4>
              Over 3 years of proven success in French language training.
              Expertise in preparing students for international certifications like DALF/DELF.
              Friendly, engaging, and student-centered teaching style.
              <h4><em>💬 Be My Student and Gain Fluency!</em> </h4>
              Join Joseph and embark on your journey to mastering French.
              Book a class today and experience a transformative way to learn the language of love, 
              culture, and opportunity.
            </p>
        </div>
      </div>
      <div class="col-md-6">
        <article class="video-item">
          <div class="video-caption">
            <h4>FOrget The exam and make the Learning Fun </h4>
          </div>
          <figure>
            <a <!--href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"-->><img src="/static/assets/images/expert_tutor.png"></a>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>
{%include "core/partials/courses.html"%}

{%include "core/partials/modules.html"%}

{% comment %} <section class="section contact" data-section="section6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Let’s Keep In Touch</h2>
        </div>
      </div>
      <div class="col-md-6">
      
      <!-- Do you need a working HTML contact-form script? Please visit https://templatemo.com/contact page -->
                  
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-md-6">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="button">Send Message Now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div id="map">
          <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
{%endblock%}
