<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Go Rather by Modules</h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="/static/assets/images/beginner.png" alt="Course #1">
                    <div class="down-content">
                        <h4>Beginner French Course (A1-A2)</h4>
                        <p>
                            Start your French journey with our beginner-level course. 
                            Learn basic vocabulary, grammar, and conversational skills to communicate in everyday situations.
                            Perfect for those new to the language, this course makes learning enjoyable and interactive.
                            <br> <br> <br>
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-01.png" alt="Author 1">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/intermediate.png" alt="Course #2">
                    <div class="down-content">
                        <h4>Intermediate French Course (B1-B2)</h4>
                        <p>
                            Boost your French skills with our intermediate-level course. Focus on improving grammar, expanding vocabulary, and mastering complex sentences. Enhance your speaking, listening, reading, and writing abilities for both personal and professional use. <br> <br>
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-02.png" alt="Author 2">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/advanced.png" alt="Course #3">
                    <div class="down-content">
                        <h4>Advanced French Course (C1-C2)</h4>
                        <p>
                            Achieve fluency in French with our advanced-level course. Tailored for learners aiming for academic, professional, or cultural mastery, this course sharpens your skills in complex expressions, nuanced grammar, and critical thinking in French.<br> <br>  <br>
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-03.png" alt="Author 3">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/conversational.png" alt="Course #4">
                    <div class="down-content">
                        <h4>Conversational French Course</h4>
                        <p>
                            Speak French with confidence in our conversational course. Practice real-life dialogues and improve your pronunciation, fluency, and listening skills. Designed for all levels, this course focuses on practical communication in diverse scenarios. <br> <br> <br> 
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-04.png" alt="Author 4">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <img src="/static/assets/images/business.png" alt="">
                    <div class="down-content">
                        <h4>Business French Course </h4>
                        <p>
                            Excel in the professional world with our business French course. Learn industry-specific vocabulary, formal writing, and effective communication strategies. Ideal for professionals or students preparing for careers in French-speaking environments<br> <br> <br> 
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-05.png" alt="">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>